div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    width: 15%;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
  }
  
  div.ng-invalid.ng-touched {
    border-left: 5px solid red;
  }
  .error{
    color: red;
  }
  